@model List<MyElearningProject.DAL.Entities.Feature>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <h2>Hizmetler Sayfası</h2>
                <table class="table table-bordered">

                    <tr>
                        <th>#</th>
                        <th>Başlık</th>
                        <th>Açıklama</th>
                        <th>Sil</th>
                        <th>Güncelle</th>

                    </tr>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>@item.FeatureID</td>
                            <td>@item.Title</td>
                            <td>@item.Description</td>
                            <td><a href="/Feature/DeleteFeature/@item.FeatureID" class="btn btn-danger">Sil</a></td>
                            <td><a href="/Feature/UpdateFeature/@item.FeatureID" class="btn btn-success">Güncelle</a>
                            <td>

                        </tr>
                    }



                </table>
            </div>
        </div>
    </div>
</div>