@model MyElearningProject.DAL.Entities.Feature
@{
    ViewBag.Title = "UpdateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Özellik Güncelleme Sayfası</h2>

<form method="post">

    @Html.HiddenFor(x => x.FeatureID, new { @class = "form-control" })
    <br />
    <label> Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
  
    
    <br />
    <br />

    <button class="btn btn-primary">Kaydet</button>
</form>


